table,th,td{
    border:1px solid grey;
    border-collapse: collapse;
}

table{
    width: 90%;
    height: 400px;
}

.Age{
    background-color: lightgray;
}
th{
    background-color:dimgrey;
}

.Age1{
    text-align: right;
}