body{
    background-image:url("Images/purple.jpeg");
    background-repeat: no-repeat;
    background-size: cover;
}
.Ffforms{
    padding-right:40px;
    padding-left: 600px;
    padding-top: 300px;
    padding-bottom: 40px;

}
input[type=text],input[type=submit]{
    border-radius:7px;
}
legend{
    color: white;
    font-size:20px;
}

input[type=submit]{
    width:30%;
    background-color: black;
    color: white;
    height: 40px;
}

label{
    color: white;
}

input[type=text]{
    height:45px;
}
