table{
    height:200px;
    width: 100%;
    border-collapse: collapse;
}
th,td{
    border-bottom:2px solid cadetblue;
}

th{
    background-color: dodgerblue;
}
tr:hover{
    background-color: grey;
}
tr:nth-child(odd){
    background-color: aquamarine;
}

.Heading1{
    color: yellow;
}