.Forms{
    background-color: yellow;
    width: 400px;
    margin-right: auto;
    margin-left: auto;
    height: 400px;
}

.FForms{
    background-color: grey;
    width:400px;
    margin-left: auto;
    margin-right: auto;
    height: 400px;
    padding :20px;
}
label{
    float: left;
    text-align: left;
    width: 150px;
    text-align: center;
}
input{
    float: left;

}

