.Form1{
    background-color: maroon;
    width:80%;
    height:350px;
    padding-top:10px ;
    padding-bottom:10px ;
    padding-right: 40px ;
    padding-left: 10px;
    margin-right: auto;
    margin-left: auto;
}

input[type=submit]{
    background-color:orange;
}

label{
    color: white;
}
legend{
    color: white;
}
input[type=text],input[type=tel]{
    width:95%;
}

.left{
    background-color:darkturquoise;
    width:20%;
    height:350px;
    padding-top:10px;
    padding-bottom:10px ;
    padding-right: 40px ;
    padding-left: 10px;
    float: left;
     }
.main0{
    background-color:white;
    display: flex;
}
